body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
#map{
   	height: 500px;
   	margin-bottom: 20px;
}
.mensaje_estilos{
	background-color: #1c3643;
	text-align: center;
	
	color: white;
	height: 30px;
	margin-bottom: 20px;
}
#header-container{
	background-color: #0E4B89;
	color: white;
	padding: 10px;
}

#info-container{
	background-color: #0E4B89;
	color: white;
}
#header-container .login,#header-container .navbar-toggler{
	color: white;
}
#menu-container{
	background-color: #f7f7f9;
}

.btn.btn-celperu{
	background-color: #0E4B89;
	color: white;
}
.btn.btn-celperu:hover{
	background-color: #286FBF;

}
.btn-lg{
	background-color: #286FBF;
	color: white;
	display: block;
	margin: 5px auto;
	width: 250px
}
.est{
	border-right: solid 1px #222;
}
.estadistica{
	display: block;
	color: red;
}


.btn-lg:hover{
	background-color: #286FBF;
}
.olvidar{
	margin: 5px;
	color:#286FBF;
}
.btn-registrar{
	background-color: white;
	border-color: #286FBF;
	display: block;
	width: 200px;
	margin-top: 5px;
	

}
.btn-registrar:hover{
	background-color: #286FBF;
	border-color: #286FBF;
	display: block;



}
.olvidar:hover{
	color: #286FBF;
}

.datosUsuario{
	font-size: 20px;
	color: #286FBF;
}
.recordar{
	color: #286FBF;
}
input.form-control:focus{
	border-color: #286FBF;
}

#search-bar{
	padding: 1em;
}

#productosCarousel img{
	margin: 0 auto;
}
#info-container h4{
	margin: 1em 0;
}
#info-container img{
	margin: 0 auto;
	height: 50px;
	margin-top: 2em;
}
#footer-container{
	background-color: #083A6C; 
	color: white;
	padding: 6em 0;
	
}
#footer-container .nav-link{
	color: white;
	font-size: 20px;
}
#footer-container .nav-link:hover{
	color: black;
}

#filtros-container .list-group-item-action.active{
	background-color: #286FBF;
	border-color:#286FBF;

}

#filtros-container .list-group{
	margin-top: 17px;
	margin-bottom: 5px;
}

.listado-celulares{
	margin-top: 1em;

}

#paginator-container .page-link:not(.active){
	color: #286FBF;
}

#paginator-container .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
	background-color: #286FBF;
	border-color: #286FBF;
	color: white;
}


.cajalogin{
	max-width: 800px;
	height: px;
	margin: 30px auto;
	

}
.columna{
	border: 1px solid red;
}


.textcontenido{
	text-align: justify;

}

.textcontenido h2{
	color: #286FBF;

}
.imgcenter{
	margin:5px auto;
}

.btnplus{

	border: solid;
	color: #286FBF; 

}


.floating{
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;

}

.floating :hover{
	color: #286FBF; 
	
}

.btn.btn-link.ib{
	padding: 0;
	color: red;
}
.card-img-top{
	width: 100%;	
}

.tituloprod{
	color: #286FBF;
}

.creado{
	background-color: #286FBF;
}



@media (max-width: 768px){
	#footer-container [class*="col-"]{
		margin-bottom: 2em;
	}
	#header-container h1{

	font-size: 28px;
}

	#info-container img{
	margin: 0 auto;
	height: 80px;
	margin-top: 2em;

}
	#footer-container{
	color: white;
	padding: 1em 0;

}
	.listado-celulares .card-img-top{
		width: 100%;
	}

	.mapa{
		max-width: 100%


	}

}
