.navbar-nav .nav-item {
  float: inherit;
}

.hamburger {
  position: relative;
  top: 50%;
}

.vcentrado {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tituloprod {
  color: #5E9732;
}

.video-modal {
  position: relative;
  top: 20%;
}

body {
  font-family: initial;
}